body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:rgba(0, 123, 255,0.2);
    font-family: Arial, sans-serif;
}

.caixa_de_conteudo {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    align-items: start;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 1200px; 
}




form {
  display: flex;
  flex-direction: column;
  margin-right: 20px; 
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

form button:hover {
  background-color: #0056b3;
}

.caixa_de_tabela {
  margin-top: 20px;
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #007BFF;
  text-align: center;
}

table th, table td {
  padding: 10px;
}

.legenda {
  margin-top: 20px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 98%;
  max-width: 100%;
  text-align: center;
}

#legenda > div {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #007BFF;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

#legenda > div:hover {
  background-color: #007BFF;
  color: #fff;
}

#divHoras {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-top: 6rem;
  margin-right: 20px;
  height: 2rem;
  
  background-color: #007BFF; 
  color: #fff; 
  padding: 5px;
  border-radius: 5px; 
  
}


